
{{!--VISTA DE LA PAGINA PRINCIPAL EN LA RUTA "/"--}}
<body>
    <header class="container">
        <div class="row">
            <div class="col-sm-12 my-4">
                <a href="/">
                    <img src="img/logo.png" class="logo">
                </a>
                    <h1 class="text-center display-3 text-uppercase font-weight-bold mt-4">INICIAR  AHORA</h1>
                    <h2>
                      <a href="/querys" id="btn-getstart_" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Get Start</a>
                    </h2>
            </div>
            <div class="col-sm-6" id="img_posicion">
                <img src="img/ball.png" class="img-fluid" width="65%">
            </div>
            <div class="col-sm-6 text-center">
                <p class="text-center text-description">Software comprometido en proporcionar tendencia y analisis estadisticos de las loterias dominicanas.</p>
                <ul class="list-unstyled list-inline mt-4">
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</body>