

{{!--============ TABLE WEEK ================--}}

<div class="container">
    <div class="row text-body">
        <div class="col-md-12">
            {{!--=== Fila-Blank ===--}}
            <div class="row justify-content-end">
                <div class="col-12"><h6 class="text-center">  </h6></div>
            </div>
            {{!--=== Fila-Resultados ===--}}
            <div class="row justify-content-end">
                <div class="card col-7med"><h4 class="text-center">Resultados Semana Actual</h4></div>
            </div>
            {{!--=== Fila-1 ===--}}
            <div class="row justify-content-end">
                <div class="col-md-1"></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Real</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">NY Tarde</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Nacional Tarde</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Loteka</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">NY Noche</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Leidsa</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Nacional Noche</h6></div>
            </div>
            {{!--=== Fila-2 ===--}}
            <div class="row justify-content-end">
                <div class="col-md-1"><h6></h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
            </div>
            {{!--=== Fila-3 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Lunes</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-4 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Martes</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-5 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Miercoles</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-6 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Jueves</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-7 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Viernes</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-8 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Sabado</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-9 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Domingo</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-Blank ===--}}
            <div class="row justify-content-end">
                <div class="col-12"><h6 class="text-center">  </h6></div>
            </div>
        </div>
    </div>
</div>

{{!--============ TABLE WEEK+1 ================--}}

<div class="container">
    <div class="row text-body">
        <div class="col-md-12">
            {{!--=== Fila-blank ===--}}
            <div class="row justify-content-end">
                <div class="card col-7med"><h4 class="text-center">Resultados Semana Anterior</h4></div>
            </div>
            {{!--=== Fila-1 ===--}}
            <div class="row justify-content-end">
                <div class="col-md-1"></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Real</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">NY Tarde</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Nacional Tarde</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Loteka</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">NY Noche</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Leidsa</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center">Nacional Noche</h6></div>
            </div>
            {{!--=== Fila-2 ===--}}
            <div class="row justify-content-end">
                <div class="col-md-1"><h6></h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">1ra | 2da | 3ra</h6></div>
            </div>
            {{!--=== Fila-3 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Lunes</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-4 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Martes</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-5 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Miercoles</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-6 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Jueves</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-7 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Viernes</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-8 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Sabado</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
            {{!--=== Fila-9 ===--}}
            <div class="row justify-content-end">
                <div class="card no-padding col-1"><h6 class="text-center h7">Domingo</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
                <div class="card no-padding col-1med"><h6 class="text-center h7">88 | 99 | 98</h6></div>
            </div>
        </div>
    </div>
</div>



